/*------------------------------------------------------------------------公版*/
.color_public {color:#4C4C4C;}
.color_public a {color:#0b76c2;}
.color_public .cycle_b a {color:#fff;}   
.color_public .gotop {border:1px solid #fff683;}
.color_public .title_001 {background:#fff683; } 
.color_public .title_001 h3 {color:#4C4C4C;}  
.color_public .title_001 h3 a {color:#4C4C4C;}
.color_public .tag_001 li.here a {color:#4C4C4C;}
.color_public .tag_001 .here div{background:#fff683;}
.color_public .tag_001 .here b{background-color:#fff683;}
.color_public .tag_002 li.here a {color:#4C4C4C;}
.color_public .tag_002 .here div{background:#fff683;}
.color_public .tag_002 .here b{background-color:#fff683;}
.color_public .cnt_002 .info_more01 h4 {color: #0B76C2;} 
.color_public .cnt_001 .text_001a .li001 li em {color:#fff683;}
.color_public .cnt_001 .li001 strong.more {color: #fff683;}
.color_brown .text_001a h4 {color:#fff683;}
.color_public ol.li001 li em {background:#0B76C2;}
.color_public .cntli_menu_002 {color:#0B76C2;}
.color_public .type01_menu_01 {color:#0B76C2;}
.color_public .search_mod02 ul.li002 li em {color:#fff683;}
.color_public .cnt002 h2{color:#fff683;}
.color_public .cnt_prod002 .prd001 h1,
.color_public .cnt_prod002 .prd001 h2 {color:#0b76c2;}
.color_public .pop_box .title h3 {color:#0b76c2;}
.color_public .type01_m001 h2 {color:#0b76c2;}
.color_public a.type01_button01{color:#333333;}
.color_public a.type01_button02{color:#333333;}
.color_public .type01_m020 h3{background:#fff683; color:#4c4c4c;}
/*-------------------------------------------------------------------starbucks*/
.color_starbucks a {color:#433e2b;}
.color_starbucks .cycle_b a {color:#fff;}  
.color_starbucks .gotop {border:1px solid #433e2b;}
.color_starbucks .title_001 {background:#c5beb3;} 
.color_starbucks .title_001 h3 {color:#4c4c4c;}
.color_starbucks .title_001 h3 a {color:#4c4c4c;} 
.color_starbucks .tag_001 li.here a {color:#4c4c4c;} 
.color_starbucks .tag_001 .here div{background:#c5beb3;}
.color_starbucks .tag_001 .here b{background-color:#c5beb3;}
.color_starbucks .tag_002 li.here a {color:#4c4c4c;} 
.color_starbucks .tag_002 .here div{background:#c5beb3;}
.color_starbucks .tag_002 .here b{background-color:#c5beb3;}
.color_starbucks .cnt_002 .info_more01 h4 {color:#545FB4;} 
.color_starbucks .cnt_001 .text_001a .li001 li em {color:#4c4c4c;}
.color_starbucks .cnt_001 .li001 strong.more {color:#4c4c4c;}
.color_starbucks .text_001a h4 {color:#4c4c4c;}
.color_starbucks ol.li001 li em {color:#4c4c4c; background:#c5beb3;}
.color_starbucks .cntli_menu_002 {color:#433e2b;}
.color_starbucks .type01_menu_01 {color:#433e2b;}
.color_starbucks .search_mod02 ul.li002 li em {color:#4c4c4c;}
.color_starbucks .cnt002 h2{color:#4c4c4c;}
.color_starbucks .cnt_prod002 .prd001 h1,
.color_starbucks .cnt_prod002 .prd001 h2 {color:#4c4c4c;}
.color_starbucks a.type01_button01{color:#333333;}
.color_starbucks a.type01_button02{color:#333333;}
.color_starbucks .type01_m020 h3{background:#c5beb3; color:#4c4c4c;}
/*look_pop*/
.color_starbucks .pop_box .title h3 {color:#545fb4;}
/*----------------------------------------------------------------------- muji*/
.color_muji a {color:#333333;}
.color_muji a:hover {color:#7f0019;}
.color_muji .cycle_b a {color:#fff;}  
.color_muji .gotop {border:1px solid #7F0019;}
.color_muji .title_001 {background:#7F0019; } 
.color_muji .title_001 h3 {color:#ffffff;}
.color_muji .title_001 h3 a {color:#ffffff;} 
.color_muji .title_001 h3 a:hover {color:#ffffff;} 
.color_muji .tag_001 li.here a {color:#fff;} 
.color_muji .tag_001 .here div{background:#7F0019;}
.color_muji .tag_001 .here b{background-color:#7F0019;}
.color_muji .tag_002 li.here a {color:#fff;} 
.color_muji .tag_002 .here div{background:#7F0019;}
.color_muji .tag_002 .here b{background-color:#7F0019;}
.color_muji .cnt_002 .info_more01 h4 {color:#333333;} 
.color_muji .cnt_001 .text_001a .li001 li em {color:#7F0019;}
.color_muji .cnt_001 .li001 strong.more {color: #7F0019;}
.color_muji .text_001a h4 {color:#7F0019;}
.color_muji ol.li001 li em {background:#7F0019;}
.color_muji .cntli_menu_002 {color:#7F0019;}
.color_muji .type01_menu_01 {color:#7F0019;}
.color_muji .search_mod02 ul.li002 li em {color:#7F0019;}
.color_muji .cnt002 h2{color:#7F0019;}
.color_muji .cnt_prod002 .prd001 h1,
.color_muji .cnt_prod002 .prd001 h2 {color:#7F0019;}
.color_muji a.type01_button01{color:#333333;}
.color_muji a.type01_button02{color:#333333;}
.color_muji .type01_m020 h3{background:#7f0019;}
/*look_pop*/
.color_muji .pop_box .title h3 {color:#652c38;}
